<div class="header cover-header cover-header-pokrovitelji">
    <div class="text">Medijski partneri</div>
</div>
<!--
<div id="svi_partneri">
          <div class="c_godisnji">
		      <div id="godisnji">EKSKLUZIVNI POKROVITELJ</div>
		      <ul id="lista">
                  <div class="partneri_box">
                 <li> <a href="http://www.klix.ba/"><img id="klix-godisnji" src="img/press/klix.png" alt="Klix"></a> </li> 
                  </div>
              </ul>
		  </div>
          <p style="clear:both;"></p>
          <br>
          <div class="c_generalni">
		      <h1 id="zlatni"> GENERALNI RADIJSKI POKROVITELJ </h1>
		      <ul id="lista">
                  <div class="partneri_box">
			     <li ><a href="http://radiom.ba/">  <img id="radioM-generalni" src="img/press/radioM.jpg" alt="Radio M"> </a></li>
                  </div>
		      </ul>
          </div>
          <p style="clear:both;"></p>
          <br>

        <div class="c_pokrovitelji">
		      <h1 id="srebreni"> MEDIJSKI POKROVITELJI  </h1>
		      <ul id="lista">
			       <div class="partneri_box">
                        <li> <a href="http://www.akta.ba/"><img id="akta-pokrovitelj" src="img/press/akta.jpg" alt="akta.ba" > </a></li>                    
                       <li> <a href="http://www.iuventa.mladi.org/"> <img id="iuventa-pokrovitelj" src="img/press/iuventa.jpg" alt="Iuventa" > </a></li>
                       
                       <li> <a href="http://kameleon.ba/"> <img id="kameleon-pokrovitelj" src="img/press/kameleon.png" alt="Kameleon" > </a></li>
                       
                       <p style="clear:both;"></p>
                       <br>
                       
                        <li> <a href="http://www.novi.ba/"><img id="novi-pokrovitelj" src="img/press/novi.png" alt="Novi"></a></li>
                        <li> <a href="https://www.facebook.com/Informativni-časopis-Student-250700114992688/?ref=ts&fref=ts"><img id="student-pokrovitelj" src="img/press/student.jpg" alt="Student"></a></li>
                        <li> <a href="http://www.radio8.ba"><img id="radio8-pokrovitelj" src="img/press/radio8.jpg" alt="Radio8"></a></li>

                       <p style="clear:both;"></p>
                       <br>

                        <li> <a href="http://www.tvalfa.ba/"><img id="alfa-pokrovitelj" src="img/press/alfa.png" alt="Alfa"></a></li>
                        <li> <a href="https://www.hocu.ba"><img id="hocu-pokrovitelj" src="img/press/hocu.png" alt="Hocu"></a></li>
                        <li> <a href="http://www.efm.ba"><img id="efm-pokrovitelj" src="img/press/efm.jpg" alt="Efm"></a></li>
                      
                        <p style="clear:both;"></p>
                        <br>

                        <li> <a href="http://www.depo.ba/"><img id="depo-pokrovitelj" src="img/press/depo.png" alt="Depo"></a></li>
                        <li> <a href="https://www.pogled.ba"><img id="pogled-pokrovitelj" src="img/press/pogled.jpg" alt="Pogled"></a></li>
                        <li> <a href="http://www.bh-index.com"><img id="bhindex-pokrovitelj" src="img/press/bhindex.png" alt="Bhindex"></a></li>

                        <p style="clear:both;"></p>
                        <br>

                        <li> <a href="http://www.rtvvogosca.com/"><img id="vogosca-pokrovitelj" src="img/press/vogosca.png" alt="RTV Vogosca"></a></li>
                        <li> <a href="https://www.vijesti.ba"><img id="vijesti-pokrovitelj" src="img/press/vijestiba.jpg" alt="Vijesti"></a></li>
                        <li> <a href="http://www.senstv.eu"><img id="sens-pokrovitelj" src="img/press/sens.png" alt="Sens"></a></li>
                  </div>
                  
		      </ul>
          </div >

           <p style="clear:both;"></p>
           <br>

          <div class="c_ucesnici">
		      <h1 id="ucesnici"> MEDIJSKI PARTNERI </h1>
		      <ul id="lista">
			       <div class="partneri_box">
                       <li><a href="http://www.studomat.ba/"><img id="studomat-p" src="img/press/studomat.png" alt="Studomat"></a></li>
                       <li><a href="http://www.sutra.ba/"><img id="sutra-p" src="img/press/sutra.png" alt="Sutra"></a></li>
                       <li><a href="http://www.haber.ba/"><img id="haber-p" src="img/press/haber.png" alt="Haber"></a></li>
                       <li><a href="http://www.tuzlainfo.ba/"><img id="tuzlainfo-p" src="img/press/tuzlainfo.png" alt="Tuzlainfo"></a></li>
                       
                       <p style="clear:both;"></p>
                        <br>

                       <li><a href="http://www.bhmagazin.com/"><img id="bhmagazin-p" src="img/press/bhmagazin.png" alt="BHMagazin"></a></li>
                       <li><a href="http://www.doznajemo.com/"><img id="doznajemo-p" src="img/press/doznajemo.png" alt="Doznajemo"></a></li>
                       
                  </div>
		      </ul>
          </div>    -->
                       <p style="clear:both; margin-bottom:50px;"></p>
                        <br>
