<div class="header cover-header cover-header-partneri">
    <div class="text">Suorganizatori</div>
</div>
<!--

    <div id="svi_partneri">
          <div class="c_godisnji">
		      <h1 id="godisnji"> SUORGANIZATORI </h1>
		      <ul id="lista">
                <div class="partneri_box">
                 <li> <a href="http://www.juszzks.com.ba/"><img id="szks-org" src="img/suorganizatori/szks.png" alt="SZKS"></a> </li>
			          <li> <a  href="http://www.shl.ba/"><img id="shl-org" src="img/suorganizatori/shl.png" alt="SHL"></a> </li>
                 <li> <a href="http://www.fmon.gov.ba/"><img id="fmon-org" src="img/suorganizatori/fmon.jpg" alt="FMON"></a> </li>
                </div>
              </ul>
		  </div>
          <p style="clear:both;"></p>
          <br>

    </div>

    -->