
<div class="timeline">
	<div class="line"></div>

	<div class="holder">
		<div class="lineitem e">
			<div class="line-top"></div>
			<div class="krug">E</div>
			<div class="event">Osnivanje EESTEC-a<br />1986</div>
		</div>

		<div class="lineitem e">
			<div class="line-top"></div>
			<div class="krug">E</div>
			<div class="event">Osnivanje EESTEC LC Sarajevo<br />2006</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">My Powerful Software<br />2008</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '08<br />2008</div>
		</div>

		<div class="lineitem e">
			<div class="line-top"></div>
			<div class="krug">K</div>
			<div class="event">23rd EESTEC Congress<br />2009</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">Training for Trainers<br />2009</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">eMovie Academy<br />2010</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '10<br />2010</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">EESTEC Winter Olympic Games<br />2010</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '11<br />2011</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">eMovie Academy 2011<br />2011</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">EESTEC Winter Olympic Games 2<br />2011</div>
		</div>

		<div class="lineitem s">
			<div class="line-top"></div>
			<div class="krug">S</div>
			<div class="event">Soft Skills Academy<br />2012</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">High 5 for LC Sarajevo<br />2012</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '12<br />2012</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">2nd Trainers' Meeting<br />2012</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">eMovie Academy 2013<br />2013</div>
		</div>

		<div class="lineitem s">
			<div class="line-top"></div>
			<div class="krug">S</div>
			<div class="event">Soft Skills Academy<br />2013</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '13<br />2013</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">EESTEC Startup Lab<br />2014</div>
		</div>

		<div class="lineitem s">
			<div class="line-top"></div>
			<div class="krug">S</div>
			<div class="event">Soft Skills Academy 2014<br />2014</div>
		</div>

		<div class="lineitem">
			<div class="line-top"></div>
			<div class="krug">J</div>
			<div class="event">JobFAIR '14<br />2014</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">LEGO MINDSTORMS Education - EESTEC challenge<br />2015</div>
		</div>

		<div class="lineitem r">
			<div class="line-top"></div>
			<div class="krug">R</div>
			<div class="event">eMovie Academy 2015<br />2015</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
</div>

<a href="javascript:void(0);" class="timeline-nav left-nav">
	<img style="margin:9px;" class="icon icons8-Back" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABIklEQVRoQ93a0QkCQQwE0KQDS9EOtBK1Mi1JO7GDyMIJh4hwu5mZ3O13PvYl+RmI20aeb8RhpSARsXP3V09zy0Ai4mZmezM79WBKQCbEZZrEw90PS6cih3wh2v+v7n5fFSQL0dCyiWQiZJBshASCQNAhKAQVgkTQIGgEBcJAwCEsBBTCRMAgbAQEokCkQ1SIVIgSkQZRI1IgFRDDkCqIIUglRDekGmIE0jL1eZaru3L20lz+r7476kZEKUw3pHWnEmYIUgkzDKmCSYFUwKRB1JhUiBKTDlFhIBAFBgZhY6AQJgYOYWEoEAaGBkFjqBAkhg5BYSQQBEYGycZIIZkYOeQH5unu7QJi0SsBmWEa4LjaE45P6zdxVLNoj34Ul1mtUcgb7EfkM4wApkcAAAAASUVORK5CYII=" width="32" height="32">
</a>
<a href="javascript:void(0);" class="timeline-nav right-nav">
	<img style="margin:9px;" class="icon icons8-Forward" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAABJUlEQVRoQ93awRFCMQgE0E0HlmIJWol2piVpJ3aAk5l4cbx8YFn8ueQUkgcnmAzsZI2dOBCCmNlhjPHqkAw3xMxuAI4Azh0wLshCXFclHh0wXshEzIp8lhzjgszXm1krjBvSDROCdMKEIV0wKZAOmDSIGpMKUWLSISoMBaLA0CDVGCqkEkOHVGFKIBWYMggbUwphYsohLIwEwsDIINkYKSQT0xHyBHDaOpmRQn70/S7ErKwMkomQQbIREggDUQ5hIUohTEQZhI0ogVQg6JAqBBVSiaBBqhEUiAKRDlEhUiFKRBpEjUiBdECEIV0QIUgnhBvSDRGB3AFcZgAA7vZ0nU/Z3K2umU3M/MKxeVCQ8vKvIG7IGuX8/6caRlYjMUMViVycffYN4oAOQkmrQ9sAAAAASUVORK5CYII=" width="32" height="32">
</a>
<div style="clear:both;"></div>
